.cart-img {
    width: 30px;
}

.payment-image {
    width: 100px;
}


.navbar.container {
    margin-bottom: 40px;
}

.btn-image {
    background-color: transparent;
    border: 0;
}

.col-suggestion img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.suggestions-box {
    padding: 80px;
    justify-content: space-between;
}

.user-logo {
    background-image: url('./images/user.png');
    width: 30px;
    height: 30px;
    background-size: cover;

}

.user-logo.transparent a {
    color: transparent;
}

.user-logo.transparent a.dropdown-item {
    color: black;
}

.earrings {
    color: black;
}

.card-suggestion {
    margin-top: 30px;
    color: black;
}

p.name {
    margin-top: 20px;
    margin-bottom: 3px;
}

.container.suggestions-box {

    margin-bottom: 20px;
    padding: 50px;
}

.suggestions-box .border-bottom {
    border-bottom: 1px solid #80808029;

}

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}

a .nav-link {
    margin: 0;

}