.cart-img {
    width: 30px;
}

.payment-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.navbar.container {
    margin-bottom: 40px;
}

.btn-image {
    background-color: transparent;
    border: 0;
}
.col-suggestion img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.suggestions-box {
    padding: 80px;
    justify-content: space-between;
}

.user-logo {
    background-image: url('./images/user.png');
    width: 30px;
    height: 30px;
    background-size: cover;

}

.user-logo.transparent a {
    color: transparent;
}


.user-logo.transparent a.dropdown-item {
    color: black;
}

.earrings {
    color: black;
}

.card-suggestion {
    margin-top: 30px;
    color: black;
}

p.name {
    margin-top: 20px;
    margin-bottom: 3px;
}

.container.suggestions-box {

    margin-bottom: 20px;
    padding: 50px;
}

.suggestions-box .border-bottom {
    border-bottom: 1px solid #80808029;

}

.btn-secondary {
    background-color: transparent;
    border-color: transparent;
    margin: 0;
}

a .nav-link {
    margin: 0;
}

.btn-secondary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.show>.btn-secondary.dropdown-toggle {
    color: #b7dab4;
    background-color: #d4ecd200;
    border-color: #ffffff00;
}

.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #b7dab4;
    ;
}
h3.text-center {
    margin-bottom: 50px;
    font-weight: 400;
}
.bottom-20 {
    padding: 20px 80px;
    margin-bottom: 0;
    margin-top:0;
    padding-top:0;
    padding-bottom:0;
    height: 200px;
}

.trash {
    height: 18px;
    object-fit: cover;
}

.product-box{
    margin-top:0;   
    margin-bottom: 0;
    padding-top: 20px;
    border-top: 1px solid grey;
    
}

.address {
    padding: 20px 80px;
}


