.sliderimg img {
    width: 100%;
    height: 400px;;
    
    object-fit: cover;
}

.details .detailsp{
    font-weight: 300;
    font-size: 15.5px;
}

.categoryp {
    font-size: 14px;
}

.img-details{
    margin-bottom: 20px;
}

.red-quantity {
    font-size: 14px;
    margin-bottom: 25px;
}

