@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}

a:hover {
    color: black;
    text-decoration: none;
}

a {
    z-index: 99;
}

a h1 {
    text-align: center;
    margin: 25px 0;
    z-index: 999;
    color: #000000c9;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h4 {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 20px;
}

h3.centered-text {
    margin-bottom: 32px;
    font-weight: 400;
}

.h5,
h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

.btn {
    border-radius: 1rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
    color: #85ac82;
    border: 1px solid #90b88d;
    margin-bottom: 15px;
}

.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #85ac82;
    border-color: #85ac82;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #85ac82;
    border-color: #85ac82;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #85ac82;
    border-color: #85ac82;
    box-shadow: 0 0 0 0.2rem rgba(159, 225, 168, 0.235);
}
button.btn.btn-sm {
    padding: 3px 15px;
    margin: 0 5px;
}

.name.card-title.h5 {
    font-size: 1.1em;
    font-weight: 400;

}

.price.card-title.h5 {
    font-size: 1.1em;
    font-weight: 200;
}

.centered-text {
    text-align: center;
}

.title-box {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150px;
}

.title-box img {

    position: absolute;
    width: 120px;
    height: 60px;
    margin-top: 30px;
    opacity: 0.5;

}


.bg-light {
    background-color: #f8f9fa00 !important;
    border-bottom: 1px solid #d4ecd2;
}


button.btn.btn-sm.btn-sm {
    border: 0px;
    margin: 0;
    padding: 0;
}