/* .slick-prev.slick-disabled:before {
    color: black;
}
.slick-next.slick-disabled:before {
    color: black;
    
}  */

.trending {
    margin-top: 80px;

}

.trending button.slick-arrow.slick-next::before {
    color: black;
}

.trending button.slick-arrow.slick-prev::before {
    color: black;
}


.trending img {
    height: 295px;
    width: 80%;
    object-fit: cover;
    margin: auto;

}

.start {
    width: 100%;
    margin-top: 40px;
}


@media (max-width:566px){
    .trending button.slick-arrow.slick-next::before{
    color: transparent;
} 
.trending button.slick-arrow.slick-prev::before{
     color: transparent;
}
}


@media (min-width:563px){
.start{
    display: none;
}
}

